    <div class="row">
            <span class="pageHeadings">{{url || "Not selected"}}</span>
        <div class="Search Widget">
            <label style="margin:15px 30px 20px 30px;font-size: 20px">Enter Invoice Number</label>
            <input style="margin:10px" type="text" >
            <button style="margin:10px" class="btn">Get Invoice Details</button>
        </div>
        <div class="Image Widget" >
            <section style="font-size:24px">SCANNED DOCUMENT</section>
            <div id='mydiv' style="text-align:center">                
                    <img src='https://templates.invoicehome.com/invoice-template-us-mono-black-750px.png' />
            </div>
        </div>
        <div class="Table Widget">  
            <section style="font-size:24px">DETAILS</section>
                <ag-grid-angular style="width: 100%; height: 200px;"
                class="ag-theme-alpine"
                [rowData]="rowData"
                [columnDefs]="columnDefs">
            </ag-grid-angular>
        </div>
    </div>
<footer class="w-100 text-right px-5 actionFooter"
  style="position: fixed; bottom: 0; right: 0; width:100% !important; margin-bottom: 3px; z-index: 1;">
  <button type="button" [routerLink]="['/forecast']" class="btnfooterEnabled"
     style="margin-top: 11px; color: #32588D; background-color: white; color: #0A6FB5; width: auto;
    padding: 0px 15px; ">
    Cancel
  </button>
  <button type="button" class="btnfooterEnabled" style="margin-top: 11px; width: auto; 
    padding: 0px 15px;  background-color: #32588D">
    Finalize
  </button>
</footer>

  