.Widget{
    box-shadow:0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
    color:black;
    margin: 20px;
    padding: 10px;
    margin-bottom: 25px;
    margin-top: 25px
}
.breadcrumb {
    padding: .75rem 0rem 0rem !important;
    margin-bottom: 0rem !important;
    background-color: transparent !important;
  }
  
  nav.breadcrumb ol.breadcrumb .breadcrumb-item a {
    color: #0A6FB5 !important;
  }
  
  nav.breadcrumb ol.breadcrumb .breadcrumb-item.active {
    color: #464E5F !important;
  }
  
  ol.breadcrumb {
    font-size: 12px !important;
    font-family: 'Roboto Medium';
  }
  

.pageHeadings {
    font-size: 26px;
    font-family: 'Roboto Regular';
    color: #3E3F42;
    margin: 20px;
    padding: 10px;
}
.btn{
    background-color: #32588D;
    color: white;
    border-radius: 5px
}
#mydiv {
    overflow: auto;
    /* max-width: 800px; */
    max-height: 300px;
    /* background-color: grey; */
    position: relative;
}
.Search {
    height:50px;
    align-content: center;
    display: flex
}
.actionFooter {
    height: 60px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px -3px 6px #00000029;
    opacity: 1;
}
.text-right {
    text-align: right!important;
}
.px-5 {
    padding-right: 3rem!important;
}
.btnfooterEnabled {
    background: #0A6FB5 0% 0% no-repeat padding-box;
    -webkit-box-shadow: 0px 1px 1px #161D250D;
    box-shadow: 0px 1px 1px #161D250D;
    border-radius: 4px;
    width: 111px;
    height: 38px;
    text-align: center;
    letter-spacing: 0px;
    color: #FFFFFF;
    font-family: 'Roboto Medium';
    font-size: 14px;
    padding: 0px;
    border-width: 0px;
    border-style: none;
    border-color: unset;
    -o-border-image: unset;
    border-image: unset;
    cursor: pointer;
}