.header-section{
    height: 80px;
    line-height: 80px;
    color: beige;
    background-color: rgb(46, 43, 43);
    font-size: 24px;
    padding-left: 20px;
}

.card{
    background-color: white;
    box-shadow:0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
    color:black;
    margin: 20px;
    padding: 10px;
    overflow-y: auto;
    height: 150px;
}
.btn{
    background-color: #32588D;
    color: white;
    border-radius: 5px
   }
.uploadList{
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.dashboard-tabs{
    box-shadow:0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
    
}


