<div *ngIf="userId == 'admin'" class="user">Admin</div>
<div *ngIf="userId == 'User'"class="user">User</div>
<div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="row card" *ngIf="userId == 'admin'">
                <div class="col-sm-12">
                    <h4>Upload Section</h4>
                    <div id="fileSelector" >
                        <input type="file" name="fileUplaod" id="fileUpload" 
                        multiple ng2FileSelect [uploader]="uploader" accept="image/jpeg, image/png, application/pdf">
                    </div>
                    <div>
                        <div class="row uploadList" *ngFor="let item of uploader.queue" style="display: flex;">
                            <div style="padding-right: 10px;" class="col-sm-4">{{item.file.name}}</div>
                            
                            <div class="col-sm-4" >
                                    
                                    <button type="button" style="width: 20px;" class="btn " (click)="item.remove()">x</button>
                            </div>
                        </div>                        
                    </div>
                    <div class="row" *ngIf="uploader?.queue?.length > 0">
                            <button type="button" class="btn " (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">Upload </button>
                            
                    </div>
                </div>                
            </div>
    
  
    <br>
    <br>
    <div>
    <section style="font-size:24px;padding-left: 20px ;">MANAGE OCR</section>
    <div class="dashboard-tabs " >
      <div>
      
    <mat-tab-group >
        <mat-tab label="All"
        style="width: 100%;"> 
        <ag-grid-angular 
        style="width: 100%;height: 400px;overflow-y: auto;"
        class="ag-theme-alpine"
        [rowData]="rowDataAll"
        [columnDefs]="columnDefsAll"
        (rowClicked)='onRowClicked($event)'
      >
    </ag-grid-angular>
        </mat-tab>
        <mat-tab label="UnProcessed">  
            <ag-grid-angular
        style="width: 100%; height: 400px;"
        class="ag-theme-alpine"
        [rowData]="rowDataUnProcessed"
        [columnDefs]="columnDefsUnProcessed"
      >
    </ag-grid-angular>
        </mat-tab>
        <mat-tab label="Processed">  
            <ag-grid-angular
        style="width: 100%; height: 400px;"
        class="ag-theme-alpine"
        [rowData]="rowDataProcessed"
        [columnDefs]="columnDefsProcessed"
      >
    </ag-grid-angular>
        </mat-tab>
        <mat-tab label="Finalized"
        style="width: 100%;"> 
        <ag-grid-angular 
        style="width: 100%; height: 400px;"
        class="ag-theme-alpine"
        [rowData]="rowDataFinal"
        [columnDefs]="columnDefsFinal"
        (rowClicked)='onRowClicked($event)'
      >
    </ag-grid-angular>
        </mat-tab>
        <mat-tab label="InProgress"
        style="width: 100%;"> 
        <ag-grid-angular 
        style="width: 100%; height: 400px;"
        class="ag-theme-alpine"
        [rowData]="rowDataInprogress"
        [columnDefs]="columnDefsInprogress"
        (rowClicked)='onRowClicked($event)'
      >
    </ag-grid-angular>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
      <br>
      
    
    <router-outlet></router-outlet>
    
    